.App {
    font-family: sans-serif;
    text-align: center;
  }


  html,
  body,
  #root,
  .App,
  #mapId {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  div.leaflet-top.leaflet-right{ display: none !important; width: 0px !important; height: 0px !important; }

  /*button {*/
  /*  position: absolute;*/
  /*  bottom: 50px;*/
  /*  left: 10px;*/
  /*  z-index: 1000000000;*/
  /*  padding: 0.5em;*/
  /*  color: blue;*/
  /*  font-weight: bold;*/
  /*}*/
  